<div class="content-background">
    <div class="content-conteudo page-profile">
      <div class="conteudo">
        <div>
          <div class="cont-header">
            <a (click)="router.navigate(['/admin/main/aprovadas']);" class="return">
              <img class="image-voltar" src="../../assets/voltar.png" />
              <h3 class="dark">Detalhe da Cirurgia</h3>
            </a>
            <button class="clean-button" (click)="transfRealiz();">TRANSFERIR PARA REALIZADAS</button>
          </div>
          <div>
            
            <form #form="ngForm">
              <div class="main-line">
                <div class="esq">
                  <h3 class="light-dark">Paciente</h3>
                  <label for='pacienteNome'>Nome</label>
                  <input [(ngModel)]='surgery.patient.name' disabled type='text' id='pacienteNome' name='pacienteNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                  
                  <label for='pacienteCpf'>CPF</label>
                  <input [(ngModel)]='surgery.patient.cpf' mask='000.000.000-00' disabled type='text' id='txtCPF' name='txtCPF' placeholder="2342423" #nameVerify="ngModel" required>
                  
                  <h3 class="light-dark">Cirurgião</h3>
                  <label for='txtNome'>Nome</label>
                  <input [(ngModel)]='surgery.surgeon.name' disabled type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
        
                  <label for='txtCrm'>Crm</label>
                  <input [(ngModel)]='surgery.surgeon.crm' disabled type='text' id='txtCrm' name='txtCrm' placeholder="2342423" #nameVerify="ngModel" required>
  
                  <label for='txtUf'>Uf</label>
                  <input [(ngModel)]='txtUf' type='text' disabled id='txtUf' name='txtUf' placeholder="UF" #nameVerify="ngModel" required>
                  
                  <h3 class="light-dark">Complexidade</h3>
                  <label for='durCirurgia'>Duração da cirugia</label>
                  
                  <ngx-timepicker-field id='txtDur' name='txtDur' [(ngModel)]='duracao' [format]="24" [defaultTime]="'00:00'" ></ngx-timepicker-field>
                  
                  <label>Essa cirurgia é de alta complexidade?</label>
                  <div class="list-scroll-esq listForm2">
                    <mat-selection-list disabled>
                      <mat-list-option selected *ngIf="surgery.complicated">
                        Sim
                      </mat-list-option>
                      <mat-list-option selected *ngIf="!surgery.complicated">
                        Não
                      </mat-list-option>
                    </mat-selection-list>
                  </div>
                  <label class="labelForm" for='daySurgery'>Data da Cirurgia</label>
                <mat-form-field>
                    <input disabled [(ngModel)]='surgery.date_time' id='daySurgery' name='daySurgery' matInput [matDatepicker]="picker2" >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                  </mat-form-field>
              
               
                  <label class="labelForm" for='hourSurgery'>Horário da Cirurgia</label>
                  <ngx-timepicker-field disabled id='hourSurgery' name='hourSurgery' [(ngModel)]='hourSurgery' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                  <br>
  
                </div>
  
                <div class="dir">
                  <label for='dt'>Data de Nascimento</label>
                  <!-- <input [(ngModel)]='surgery.patient.birth_date' type='date' id='dt' name='dt' placeholder="2 horas e 30 min" #nameVerify="ngModel" required> -->
                  <mat-form-field>
                    <input disabled [(ngModel)]='surgery.patient.birth_date' id='dtNasc' name='dtNasc' matInput [matDatepicker]="picker" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> 
                  </mat-form-field>

                  <label>Comorbidades</label>
                  <div class="list-scroll-esq listForm2">
                      <mat-selection-list disabled name="listComorbsSelected" [(ngModel)]="selectedComorbs" #listaComorbs>
                        <mat-list-option [value]="comorbidade.id" name="cboSelectedComorbs" *ngFor="let comorbidade of listComorb" >
                          {{comorbidade.str}} 
                        </mat-list-option>
                      </mat-selection-list>
                  </div>
                  <label>Procedimento (TUSS)</label>
                  <div class="list-scroll-dir">
                    <mat-selection-list disabled>
                      <mat-list-option selected>
                        {{surgery.main_tuss.str}}
                      </mat-list-option>

                      <mat-list-option selected *ngFor="let poced of surgery.secondary_tuss">
                        {{poced.str}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>

                  <label>Paciente precisará de:</label>
                  <div class="list-scroll-dir">
                    <mat-selection-list disabled name="listAcomSelected" [(ngModel)]="selectedNeeds" #listaNeeds>
                        <mat-list-option [value]="accomodations.id" name="cboSelectedAcom" *ngFor="let accomodations of listNeeds">
                          {{accomodations.str}} 
                        </mat-list-option>
                    </mat-selection-list>
                  </div>
                </div>
              </div>
              
            </form>
            
          </div>
          
          
        </div>
  
      </div>
    
    </div>



    <!-- CUSTOS -->

    <div class="content-conteudo page-profile bottom">
        <div class="conteudo">
          <div>
            <div class="cont-header bottom"> 
              <h3 class="dark">Custo Estabelecido</h3>
              <img class="image-voltar" src="../../assets/download.png" />
            </div>
            <div>
              
              <form #form="ngForm">
                <div class="main-line bottom">
                  <div>
                      <label for='txtNomeGroup'>Nome do Grupo</label>
                      <input [(ngModel)]='objCustos.name' disabled type='text' id='txtNomeGroup' name='txtNomeGroup' placeholder="Lorem Ipsum" #nameVerify="ngModel" required>
                      
                      <label for='taxaCirurgia'>Taxa Cirurgia</label>
                      <input [(ngModel)]='objCustos.surgery_tax' disabled type='text' id='taxaCirurgia' name='taxaCirurgia' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                      <label for='taxaAdicional'>Taxa Adicional</label>
                      <input [(ngModel)]='objCustos.additional_tax' disabled  type='text' id='taxaAdicional' name='taxaAdicional' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
        
                      <label for='taxaAnestesia'>Taxa de Anestesia</label>
                      <input [(ngModel)]='objCustos.anesthesia_tax' disabled type='text' id='taxaAnestesia' name='taxaAnestesia' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
        
                      <label for='taxaMaterial'>Taxa de Material em Centro Cirúrgico</label>
                      <input [(ngModel)]='objCustos.material_tax' disabled type='text' id='taxaMaterial' name='taxaMaterial' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
                  </div>
                  <div>
                      <label for='taxaDiariaGlobal'>Diária Global Day Clinic</label>
                      <input [(ngModel)]='objCustos.Day_Clinic' disabled type='text' id='taxaDiariaGlobal' name='taxaDiariaGlobal' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                      <label for='taxaDiariaGlobalQ'>Diária Global Quarto</label>
                      <input [(ngModel)]='objCustos.Andar' disabled type='text' id='taxaDiariaGlobalQ' name='taxaDiariaGlobalQ' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                      <label for='taxaDiariaGlobalS'>Diária Global Semiintensiva</label>
                      <input [(ngModel)]='objCustos.Semi_intensiva' disabled type='text' id='taxaDiariaGlobalS' name='taxaDiariaGlobalS' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                      <label for='taxaDiariaGlobalCTI'>Diária Global CTI</label>
                      <input [(ngModel)]='objCustos.CTI' type='text' disabled id='taxaDiariaGlobalCTI' name='taxaDiariaGlobalCTI' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                      <label for='HrClinico'>Horário Clínico</label>
                      <input [(ngModel)]='objCustos.clinical_schedule' disabled type='text' id='HrClinico' name='HrClinico' placeholder="R$ 0000,00" #nameVerify="ngModel" required>
    
                  </div>
                  
                </div>
                <div class="line-valores">
                  <p class="sub-total">Sub Total <span>R$ {{objCustos.surgery_cost}},00</span></p>
                  <p class="adicional">Adicional de Alta Complexidade <span>{{aditional}}%</span></p>

                  <mat-slider thumbLabel disabled
                  [displayWith]="formatLabel"  min="-30" max="30" step="1" value="{{porcentagem}}"></mat-slider>
                  <div class="line-porcentagem">
                      <span>-30%</span>
                      <span>30%</span>
                    </div>

                  <p class="total" style="margin-top: 20px;">Total <span>R$ {{objCustos.total_cost}},00</span></p>

                  
                </div>
                <div >
                  <div>
                      <br>
                      <label for='trueDuration'>Duração oficial da cirurgia</label>
                      <ngx-timepicker-field id='trueDuration' name='trueDuration' [(ngModel)]='trueDuration' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                      <br>
                  </div>
                  <div>
                      <label for='note'>Observações</label>
                      <textarea [(ngModel)]='finalNote' type='text' id='note' name='note' placeholder="Observações" #nameVerify="ngModel"></textarea>

                  </div>
                </div>
                
              </form>
              
            </div>
            
            
          </div>
    
        </div>
      
      </div>
  </div>