<div class="content-background">
    <div class="content-request">
        <div class="cont-esq">
            <div class="topo"> 
                <h3 class="dark">Solicitar Cirurgia</h3>
                <p>Siga o passo a passo e agende cirurgias eletivas agora mesmo!</p>
            </div>
            <div>
              <a><button (click)="iniciarStepper();">Iniciar</button></a>
            </div>
        </div>
        <div class="cont-dir">
          <div class="one">
            
          </div>
          <div class="two">

          </div>
          <div class="three">

          </div>
        </div>
      </div>
</div>
