<div class="content-background">
  <div class="content-conteudo page-login">
    <div class="esqu">
      <div class="entrar-esq">
        <h3 class="dark">Esqueceu a senha?</h3>
        <p>Digite seu email e enviaremos um link para cadastro de uma nova senha!</p>
      </div>
      <div class="img-esq">
        <img src="../../assets/bg-icon.png">
      </div>
    </div>
    <div class="dir">
      <form #form="ngForm">
        <div class="form-dir">
          <label for='txtEmail'>Email</label>
          <input [(ngModel)]='txtEmail' type='email' id='txtEmail' name='txtEmail' placeholder="Senha" #nameVerify="ngModel" required>

        </div>
        <div class="bot-dir">
        
          <button class="concluir-button" (click)="onSend();">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</div>