.page-cadastro .form-dir label{
    margin-top: 15px;
}
.page-cadastro .img-esq img{
    margin-top: 153px;
}
.page-cadastro .bot-dir{
    justify-content: flex-end;
    padding-right: 70px;
    margin-top: 40px;
}
.page-cadastro.page-cadastro{
    max-height: 550px;
}
.page-cadastro .dir{
    display: block;
}
:host {
    display: block;
    overflow: hidden; /* Hide everything that doesn't fit compoennt */
}
.parent {
height: 100%;
width: 200%;      /* Make the parent element to take up twice
                        of the component's width */
display: flex;    /* Align all children in a row */
 /* Evenly divide width between children */
}
.parent div{
    flex: 1;
}