<div class="content-background">
    <div class="content-conteudo page-cadastro">
      <div class="esqu">
        <div class="entrar-esq">
          <h3 class="dark">Cadastrar</h3>
          <p>Coloque suas informações para solicitar seu cadastro no Smart Surgery!</p>
        </div>
        <div class="img-esq">
          <img src="../../assets/bg-icon.png">
        </div>
      </div>
      <div class="dir">
        <form #form="ngForm">
          <div class="form-dir">
            <label for='txtNome'>Nome</label>
            <input [(ngModel)]='txtNome' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
  
            <label for='txtCrm'>CRM</label>
            <input [(ngModel)]='txtCrm' type='text' id='txtCrm' name='txtCrm' placeholder="12314" #nameVerify="ngModel" required>

            <label for='txtUf'>Uf</label>
            <input [(ngModel)]='txtUf' type='text' id='txtUf' name='txtUf' placeholder="RJ" #nameVerify="ngModel" required>

            <label for='txtEmail'>Email</label>
            <input [(ngModel)]='txtEmail' type='email' id='txtEmail' name='txtEmail' placeholder="albertopacheco@gmail.com" #nameVerify="ngModel" required>

            <label for='txtTelefone'>Telefone</label>
            <input [(ngModel)]='txtTelefone' type='tel' id='txtTelefone' name='txtTelefone' placeholder="(21) 91234-5678" #nameVerify="ngModel" required>
  
          </div>
          <div class="bot-dir">
            <button class="concluir-button" (click)="submitForm();">Próximo</button>
          </div>
        </form>
      </div>
    </div>
  </div>