.content-background{
    display: flex;
    justify-content: center;
}
.content-request{
    background: white;
    box-shadow: -1px 3px 7px 0px lightgrey;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 60%;
    height: 300px;
    padding: 20px 0;
}

.content-request p {
    color: #cccccc;
    font-size: 17px;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 300;
}

.content-request h3 {
    margin: 0;
}

.cont-esq{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-esq .topo{
    width: 65%;
    align-self: center;
}

.cont-esq button{
    margin-left: 60px;
    padding: 10px 20px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    background: rgba(45, 175, 126, 1);
    cursor: pointer;
    transition: .2s ease-in-out all;
    border: 1px solid rgba(45, 175, 126, 1);
    font-size: 12px;
}

.cont-esq button:hover{
    background: transparent;
    color: rgba(45, 175, 126, 1);
}

.cont-dir{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.cont-dir .one, .cont-dir .two, .cont-dir .three{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.round-number{
    padding: 15px;
    width: 40px;
    border: 6px solid #3fc0c2;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    color: #b6b5b5;
    background: #fff;
    z-index: 2;
}
.round-number h3{
    font-size: 40px;
    font-weight: 500;
    margin-top: -3px;
}
.content-request .cont-dir p {
    margin-top: 20px;
    text-align: center;
}
.two .round-number{
    margin-top: 22px;
}
.cont-dir:before {
    content: '';
    height: 4px;
    /* color: #000; */
    width: 66%;
    position: absolute;
    top: 31%;
    font-size: 30px;
    right: 17%;
    z-index: 1;
    background-image: linear-gradient(to right, #9f9f9f 33%, rgba(255,255,255,0) 0%);
    background-size: 11px 10px;
    background-repeat: repeat-x;
}
.cont-dir .conteudo {
    display: flex;
    width: 80%;
    margin: auto;
}