<div class="content-background">
  <div class="content-conteudo page-login">
    <div class="esqu">
      <div class="entrar-esq">
        <h3 class="dark">Nova senha</h3>
        <p>Crie sua nova senha e confirme a senha escolhida!</p>
      </div>
      <div class="img-esq">
        <img src="../../assets/bg-icon.png">
      </div>
    </div>
    <div class="dir">
      <form #form="ngForm">
        <div class="form-dir">
          <label for='txtPass'>Senha</label>
          <input [(ngModel)]='txtPass' type='password' id='txtPass' name='txtPass' placeholder="Senha" #nameVerify="ngModel" required>

          <label for='txtPass2'>Confirme a senha escolhida</label>
          <input [(ngModel)]='txtPass2' type='password' id='txtPass2' name='txtPass2' placeholder="Mesma Senha" #nameVerify="ngModel" required>

        </div>
        <div class="bot-dir">
          <button class="concluir-button" (click)="submitForm();">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</div>