.content-background{
    display: flex;
    justify-content: center;
}
.content-login{
    background: white;
    box-shadow: -1px 3px 7px 0px lightgrey;
    max-height: 400px;
    width: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
.esqu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.entrar-esq{
    height: 100%;
    width: 49%;
    margin: 0 auto;
    padding-top: 35px;
}

.entrar-esq h3{
    font-size: 28px;
    color: rgba(63, 192, 194, 1);
}
.entrar-esq p{
    color: #9f9f9f;
}

.img-esq{
    height: 100%;
    margin: 0 auto;
}
.dir{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-dir{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 60px;
}
.bot-dir{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 15px;
}
label{
    align-self: flex-start;
}
.forg-pass{
    align-self: flex-end;
}
.img-esq img{
    width: 100%;
    margin-left: -110px;
    margin-top: 11px;
}