<div class="content-background">
  <div class="content-login">
    <div class="esqu">
      <div class="entrar-esq">
        <h3>Entrar</h3>
        <p>Coloque seu login e senha para iniciar sua sessão no Smart Surgery!</p>
      </div>
      <div class="img-esq">
        <img src="../../assets/bg-icon.png">
      </div>
    </div>
    <div class="dir">
      <form #form="ngForm">
        <div class="form-dir">
          <label for='txtLogin'>Login</label>
          <input [(ngModel)]='txtLogin' type='text' id='txtLogin' name='txtLogin' placeholder="Digite o login" #nameVerify="ngModel" required>

          <label for="txtPass">Senha</label>
          <input id="txtPass" type="password" placeholder="Digite a Senha"/>
          <a href="#" class="forg-pass">Esqueci a senha</a>
        </div>
        <div class="bot-dir">
          <div>
            <label><input type="checkbox" id="chkRemember">Lembrar de mim</label>
          </div>
          <button>Concluir</button>
        </div>
      </form>
    </div>
  </div>
</div>