<div class="content-background">
    <div class="content-conteudo page-profile">
      <mat-tab-group class="main-box">
        <mat-tab label="First"> 
          <div class="conteudo">
            <div>
              <div class="cont-header">
                <a (click)="router.navigate(['admin/main/allHospitals']);" class="return">
                  <img class="image-voltar" src="../../assets/voltar.png" />
                  <h3 class="dark">Novo Hospital</h3>
                </a>
              </div>
              <div>
                
                <form #form="ngForm">
                  <div class="esq">
                    <label for='txtNome'>Nome</label>
                    <input [(ngModel)]='txtNome' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                    
                    <label for='txtFone'>Telefone</label>
                    <input [(ngModel)]='txtFone' type='tel' id='txtFone' name='txtFone' placeholder="(21) 91234-5678" #nameVerify="ngModel" required>
      
                    <label for='txtEmail'>Email</label>
                    <input [(ngModel)]='txtEmail' type='email' id='txtEmail' name='txtEmail' placeholder="albertopacheco@gmail.com" #nameVerify="ngModel" required>
      
                    <label for='txtEnd'>Endereço</label>
                    <input [(ngModel)]='txtEnd' type='text' id='txtEnd' name='txtEnd' placeholder="lorem ipsum" #nameVerify="ngModel" required>
      
                    <label for='txtCep'>CEP</label>
                    <input [(ngModel)]='txtCep' type='text' id='txtCep' name='txtCep' placeholder="2342423" #nameVerify="ngModel" required>
      
                  </div>
      
                  <div class="dir">
                    <div class="menu-esq">
                      <div>
                        <h3 class="light-dark">Procedimentos (TUSS)</h3>
                      </div>
                      <div class="list-scroll-esq">
                        <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                          <mat-selection-list>
                            <mat-list-option (click)="selectionClick(procedimento);"
                              *ngFor="let procedimento of tussTable">
                              {{procedimento.id}} - {{procedimento.str}}
                            </mat-list-option>
                          </mat-selection-list>
                        </cdk-virtual-scroll-viewport>
                      </div>
                    </div>
                  </div>
                  <!-- Botão CONCLUIR -->
      
                  <div class="btn-line">
                    <button (click)="onClickNext();" class="dark-button">PRÓXIMO</button>
                  </div>
                </form>
                
              </div>
      
      
              
              
            </div>
      
          </div>
        </mat-tab>
        <mat-tab label="Second">
            <div class="conteudo">
              <div>
                <div class="cont-header">
                  <a (click)="onClickBack();" class="return">
                    <img class="image-voltar" src="../../assets/voltar.png" />
                    <h3 class="dark">Detalhe Hospital</h3>
                  </a>
                </div>
                <div>
                  
                    <div class="pacote-line">
                        <div>
                          <h3 class="light-dark">Pacotes de custo</h3>
                          <p>Selecione um pacote de custos criado anteriormente ou crie um novo</p>
                        </div>
                        <div class="box-line">
                          <div class="package-box new-package" (click)="newPackageForm();">
                            <i class="fas fa-plus"></i>
                            <p>Novo Pacote</p>
                          </div>

                          <div class="package-box">
                            <p>Hospital 1</p>
                          </div>
          
                          <div class="package-box">
                            <p>Hospital 2</p>
                          </div>
          
                          <div class="package-box">
                            <p>Hospital 3</p>
                          </div>
          
                          <div class="package-box">
                            <p>Hospital 4</p>
                          </div>
                        </div>
                      </div>
        
                      <app-cost-package></app-cost-package>
                    
                    <!-- Botão CONCLUIR -->
        
                    <div class="btn-line">
                      <button (click)="onClickNext();" class="dark-button">CONCLUIR</button>
                    </div>
             
                </div>
        
        
                
                
              </div>
        
            </div>
        </mat-tab> 
        
      </mat-tab-group>
    </div>
  </div>