<div class="content-background">
  <div class="content-conteudo page-profile">
   
      <div class="esqu">
        <div class="entrar-esq">
          <h3 class="dark">Minha Conta</h3>
        </div>
        <form #form="ngForm">
            <div class="form-esq">
              <label for='txtNome'>Nome</label>
              <input [(ngModel)]='admin.name' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
    
              <label for='txtEmail'>Email</label>
            <input [(ngModel)]='admin.email' type='email' id='txtEmail' name='txtEmail' placeholder="Digite o login" #nameVerify="ngModel" required>
            </div>
        </form>
      
      </div>
      <div class="dir">
        <form #form="ngForm">
          <div class="form-dir">
            
  
            <label for='txtNome'>Alterar Senha</label>
            <input [(ngModel)]='novaSenha' type='password' id='txtNovaSenha' name='txtNovaSenha' placeholder="Senha" #nameVerify="ngModel" required>
    
            <label for='txtEmail'>Confirmação de Senha</label>
            <input [(ngModel)]='novaSenha2' type='password' id='txtNovaSenha2' name='txtNovaSenha2' placeholder="Confirmação de Senha" #nameVerify="ngModel" required>
          </div>
          <div class="bot-dir">
            <button class="concluir-button" (click)="submitForm();">Salvar</button>
            
          </div>
        </form>
      </div>
  
  </div>
</div>