<div class="content-background">

    <!-- SOLICITADAS -->
      <div class="content-conteudo page-profile">
        <div class="conteudo">
          <div class="cont-header">
              <h3 class="dark">Cirurgias Solicitadas</h3>
              <button class="dark-button">NOVO</button>
          </div>
          <div>
  
            <div class="box">
              <div>
                <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
              </div>
              <div class="right-block">
                <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                <a (click)="router.navigate(['/user/main/surgery']);"><img class="image-details" src="../../assets/detalhe.png" /></a>
              </div>
            </div>
  
            <div class="box">
                <div>
                  <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                  <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                  <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                </div>
                <div class="right-block">
                  <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                  <img class="image-details" src="../../assets/detalhe.png" />
                </div>
              </div>
  
              <div class="box">
                  <div>
                    <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                    <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                    <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                  </div>
                  <div class="right-block">
                    <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                    <img class="image-details" src="../../assets/detalhe.png" />
                  </div>
                </div>
  
                <div class="box">
                    <div>
                      <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                      <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                      <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                    </div>
                    <div class="right-block">
                      <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                      <img class="image-details" src="../../assets/detalhe.png" />
                    </div>
                  </div>
  
                  <div class="box">
                      <div>
                        <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                        <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                        <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                      </div>
                      <div class="right-block">
                        <p class="complexidade" [ngClass]="text2 == 'Baixa Complexidade' ? 'green': 'red'">Alta Complexidade</p>
                        <img class="image-details" src="../../assets/detalhe.png" />
                      </div>
                    </div>
  
          </div>
        </div>
      
      </div>
  
      <!-- APROVADAS -->
  
      <div class="content-conteudo cirurgioes">
          <div class="conteudo">
            <div class="cont-header">
                <h3 class="dark">Cirurgias Aprovadas</h3>
            </div>
            <div>
                <div class="box">
                    <div>
                      <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                      <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                      <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                    </div>
                    <div class="right-block">
                      <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                      <img (click)="router.navigate(['/user/main/approvedDetails']);" class="image-details" src="../../assets/detalhe.png" />
                    </div>
                  </div>
        
                  <div class="box">
                      <div>
                        <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                        <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                        <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                      </div>
                      <div class="right-block">
                        <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                        <img class="image-details" src="../../assets/detalhe.png" />
                      </div>
                    </div>
        
                    <div class="box">
                        <div>
                          <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                          <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                          <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                        </div>
                        <div class="right-block">
                          <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                          <img class="image-details" src="../../assets/detalhe.png" />
                        </div>
                      </div>
        
                      <div class="box">
                          <div>
                            <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                            <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                            <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                          </div>
                          <div class="right-block">
                            <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                            <img class="image-details" src="../../assets/detalhe.png" />
                          </div>
                        </div>
        
                        <div class="box">
                            <div>
                              <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                              <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                              <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                            </div>
                            <div class="right-block">
                              <p class="complexidade" [ngClass]="text2 == 'Baixa Complexidade' ? 'green': 'red'">Alta Complexidade</p>
                              <img class="image-details" src="../../assets/detalhe.png" />
                            </div>
                          </div>
    
            </div>
          </div>
        
        </div>
  
  
  
    </div>