<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div>
        <div class="cont-header">
          <a (click)="router.navigate(['admin/main/allSurgeons']);" class="return">
            <img class="image-voltar" src="../../assets/voltar.png" />
            <h3 class="dark">Novo Cirurgião</h3>
          </a>
        </div>
        <div>
          
          <form #form="ngForm">
            <div class="esq">
              <h3 class="light-dark">Paciente</h3>
              <label for='pacienteNome'>Nome</label>
              <input [(ngModel)]='pacienteNome' type='text' id='pacienteNome' name='pacienteNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
              
              <label for='pacienteCpf'>CPF</label>
              <input [(ngModel)]='txtCPF' type='text' id='txtCPF' name='txtCPF' placeholder="2342423" #nameVerify="ngModel" required>
              
              <h3 class="light-dark">Cirurgião</h3>
              <label for='txtNome'>Nome</label>
              <input [(ngModel)]='txtNome' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
    
              <label for='txtCrm'>Crm</label>
              <input [(ngModel)]='txtCrm' type='text' id='txtCrm' name='txtCrm' placeholder="2342423" #nameVerify="ngModel" required>

              <label for='txtUf'>Uf</label>
              <input [(ngModel)]='txtUf' type='text' id='txtUf' name='txtUf' placeholder="UF" #nameVerify="ngModel" required>
              
              <h3 class="light-dark">Complexidade</h3>
              <label for='durCirurgia'>Duração da cirugia</label>
              <input [(ngModel)]='durCirurgia' type='text' id='durCirurgia' name='durCirurgia' placeholder="2 horas e 30 min" #nameVerify="ngModel" required>
            </div>
          </form>
          
        </div>
        
        
      </div>

    </div>
  
  </div>
</div>