table {
    width: 100%;
}
table th{
    color: #9f9f9f;
    font-weight: 500;
}
table td{
    color: #b6b5b5;
    font-weight: 300;
}
.content-conteudo{
    padding: 50px 100px;
}
.conteudo{
    width: 100%;
}
.cont-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table img{
    width: 30px;
    cursor: pointer;
    float: right;
}