<div class="content-background">

  <!-- SECTION CIRURGIAS -->
    <div class="content-conteudo page-profile">
      <div class="conteudo">
        <div class="cont-header">
            <h3 class="dark">Cirurgias</h3>
            <button class="dark-button">NOVO</button>
        </div>
        <div>

          <div class="box" *ngFor="let surgery of allSurgeries">
            <div>
              <h4 class="light-dark">{{surgery.main_tuss}}</h4>
              <p class="name-dr">Dr. {{surgery.surgeon}}</p>
              <p class="paciente-name">Paciente: {{surgery.patient}}</p>
            </div>
            <div class="right-block" *ngIf="surgery.complicated">
              <p class="complexidade" class="red">Alta Complexidade</p>
              <img (click)="clickDetails(surgery.id);" class="image-details" src="../../assets/detalhe.png" />
            </div>
            <div class="right-block" *ngIf="!surgery.complicated">
              <p class="complexidade" class="green">Baixa Complexidade</p>
              <img class="image-details" src="../../assets/detalhe.png" />
            </div>
          </div>

        </div>
      </div>
    
    </div>

    <!-- SECTION CIRURGIÕES -->

    <div class="content-conteudo cirurgioes">
        <div class="conteudo">
          <div class="cont-header">
              <h3 class="dark">Cirurgiões</h3>
              <button class="dark-button">NOVO</button>
          </div>
          <div>
  
            <div class="box" *ngFor="let surgeon of allSurgeons">
              <div>
                <h4 class="light-dark">Dr. {{surgeon.name}}</h4>
                <p class="name-dr">{{surgeon.crm}}/{{surgeon.uf}}</p>
                <p class="paciente-name">{{surgeon.email}}</p>
              </div>
              <div class="right-block">
                <img (click)="router.navigate(['admin/main/surgeonDetails']);"  class="image-details" src="../../assets/detalhe.png" />
              </div>
            </div>   
          </div>
        </div>
      
      </div>



  </div>