<div class="content-background">

  <!-- SECTION CIRURGIAS -->
    <div class="content-conteudo page-profile">
      <div class="conteudo">
        <div class="cont-header">
            <h3 class="dark">Cirurgias</h3>
            <button class="dark-button">NOVO</button>
        </div>
        <div>

          <div class="box">
            <div>
              <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
              <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
              <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
            </div>
            <div class="right-block">
              <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
              <img class="image-details" src="../../assets/detalhe.png" />
            </div>
          </div>

          <div class="box">
              <div>
                <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
              </div>
              <div class="right-block">
                <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                <img class="image-details" src="../../assets/detalhe.png" />
              </div>
            </div>

            <div class="box">
                <div>
                  <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                  <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                  <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                </div>
                <div class="right-block">
                  <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                  <img class="image-details" src="../../assets/detalhe.png" />
                </div>
              </div>

              <div class="box">
                  <div>
                    <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                    <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                    <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                  </div>
                  <div class="right-block">
                    <p class="complexidade" [ngClass]="text == 'Baixa Complexidade' ? 'green': 'red'">Baixa Complexidade</p>
                    <img class="image-details" src="../../assets/detalhe.png" />
                  </div>
                </div>

                <div class="box">
                    <div>
                      <h4 class="light-dark">Colecistectomia com fistula biliodigestiva</h4>
                      <p class="name-dr">Dr. Luciano Costa de Freitas Antunes</p>
                      <p class="paciente-name">Paciente: Carlos Henrique Duque</p>
                    </div>
                    <div class="right-block">
                      <p class="complexidade" [ngClass]="text2 == 'Baixa Complexidade' ? 'green': 'red'">Alta Complexidade</p>
                      <img class="image-details" src="../../assets/detalhe.png" />
                    </div>
                  </div>

        </div>
      </div>
    
    </div>

    <!-- SECTION CIRURGIÕES -->

    <div class="content-conteudo cirurgioes">
        <div class="conteudo">
          <div class="cont-header">
              <h3 class="dark">Cirurgiões</h3>
              <button class="dark-button">NOVO</button>
          </div>
          <div>
  
            <div class="box">
              <div>
                <h4 class="light-dark">Dr. Luis Costa de Freitas</h4>
                <p class="name-dr">12345/RJ</p>
                <p class="paciente-name">lucianoantunes@gmail.com</p>
              </div>
              <div class="right-block">
                <img class="image-details" src="../../assets/detalhe.png" />
              </div>
            </div>
  
            <div class="box">
                <div>
                  <h4 class="light-dark">Dr. Luis Costa de Freitas</h4>
                  <p class="name-dr">12345/RJ</p>
                  <p class="paciente-name">lucianoantunes@gmail.com</p>
                </div>
                <div class="right-block">
                  <img class="image-details" src="../../assets/detalhe.png" />
                </div>
              </div>
  
              <div class="box">
                  <div>
                    <h4 class="light-dark">Dr. Luis Costa de Freitas</h4>
                    <p class="name-dr">12345/RJ</p>
                    <p class="paciente-name">lucianoantunes@gmail.com</p>
                  </div>
                  <div class="right-block">
                    <img class="image-details" src="../../assets/detalhe.png" />
                  </div>
                </div>
  
                <div class="box">
                    <div>
                      <h4 class="light-dark">Dr. Luis Costa de Freitas</h4>
                      <p class="name-dr">12345/RJ</p>
                      <p class="paciente-name">lucianoantunes@gmail.com</p>
                    </div>
                    <div class="right-block">
                      <img class="image-details" src="../../assets/detalhe.png" />
                    </div>
                  </div>
  
          </div>
        </div>
      
      </div>



  </div>