<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div>
        <div class="cont-header">
          <a (click)="router.navigate(['/user/main/aprovadas-solicitadas']);" class="return">
            <img class="image-voltar" src="../../assets/voltar.png" />
            <h3 class="dark">Detalhe da Cirurgia</h3>
          </a>
        </div>
        <div>
          
          <form #form="ngForm">
            <div class="main-line">
              <div class="esq">
                <h3 class="light-dark">Paciente</h3>
                <label for='pacienteNome'>Nome</label>
                <input [(ngModel)]='surgery.patient.name' type='text' id='pacienteNome' name='pacienteNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                
                <label for='pacienteCpf'>CPF</label>
                <input [(ngModel)]='surgery.patient.cpf' type='text' id='txtCPF' name='txtCPF' placeholder="2342423" #nameVerify="ngModel" required>
                
                <h3 class="light-dark">Cirurgião</h3>
                <label for='txtNome'>Nome</label>
                <input [(ngModel)]='surgery.surgeon.name' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
      
                <label for='txtCrm'>Crm</label>
                <input [(ngModel)]='surgery.surgeon.crm' type='text' id='txtCrm' name='txtCrm' placeholder="2342423" #nameVerify="ngModel" required>

                <label for='txtUf'>Uf</label>
                <input [(ngModel)]='txtUf' type='text' id='txtUf' name='txtUf' placeholder="UF" #nameVerify="ngModel" required>
                
                <h3 class="light-dark">Complexidade</h3>
                <label for='durCirurgia'>Duração da cirugia</label>
                <input [(ngModel)]='surgery.duration' type='text' id='durCirurgia' name='durCirurgia' placeholder="2 horas e 30 min" #nameVerify="ngModel" required>
                
                <label>Essa cirurgia é de alta complexidade?</label>
                <div class="list-scroll-esq listForm2">
                  <mat-selection-list [(ngModel)]="complexidade" >
                    <mat-list-option selected *ngIf="surgery.complicated">
                      Sim
                    </mat-list-option>
                    <mat-list-option  *ngIf="surgery.complicated">
                      Não
                    </mat-list-option>
                    <mat-list-option  *ngIf="!surgery.complicated">
                      Sim
                    </mat-list-option>
                    <mat-list-option selected *ngIf="!surgery.complicated">
                      Não
                    </mat-list-option>
                  </mat-selection-list>
                </div>

              </div>

              <div class="dir">
                  <label for='dt'>Data</label>
                  <input [(ngModel)]='surgery.patient.birth_date' type='date' id='dt' name='dt' placeholder="2 horas e 30 min" #nameVerify="ngModel" required>

                  <label>Comorbidades</label>
                  <div class="list-scroll-esq listForm2">
                    <mat-selection-list>
                      <mat-list-option selected *ngFor="let comorbidades of surgery.comorbidities">
                        {{comorbidades}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>
                  <label>Procedimento (TUSS)</label>
                  <div class="list-scroll-dir">
                    <mat-selection-list>
                      <mat-list-option selected>
                        {{surgery.main_tuss.str}}
                      </mat-list-option>

                      <mat-list-option selected *ngFor="let poced of surgery.secondary_tuss">
                        {{poced.str}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>

                  <label>Paciente precisará de:</label>
                  <div class="list-scroll-dir">
                    <mat-selection-list>
                      <mat-list-option  selected *ngFor="let procedimento of surgery.accommodations">
                       {{procedimento}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>
              </div>
            </div>
            <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
              <!-- Botão CONCLUIR -->

            <div class="btn-line">
              <button class="dark-button">SALVAR</button>
            </div>
            
          </form>
          
        </div>
        
        
      </div>

    </div>
  
  </div>
</div>