<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div>
        <div class="cont-header">
          <a (click)="router.navigate(['/user/main/aprovadas-solicitadas']);" class="return">
            <img class="image-voltar" src="../../assets/voltar.png" />
            <h3 class="dark">Detalhe da Cirurgia</h3>
          </a>
        </div>
        <div>
          
          <form #form="ngForm">
            <div class="main-line">
              <div class="esq">
                <h3 class="light-dark">Paciente</h3>
                <label for='pacienteNome'>Nome</label>
                <input [(ngModel)]='surgery.patient.name' type='text' id='pacienteNome' name='pacienteNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                
                <label for='pacienteCpf'>CPF</label>
                <input [(ngModel)]='surgery.patient.cpf' mask='000.000.000-00' type='text' id='txtCPF' name='txtCPF' placeholder="2342423" #nameVerify="ngModel" required>
                
                <label for='dt'>Data de Nascimento</label>
                <!-- <input [(ngModel)]='surgery.patient.birth_date' type='date' id='dt' name='dt' placeholder="2 horas e 30 min" #nameVerify="ngModel" required> -->
                <mat-form-field>
                  <input [(ngModel)]='surgery.patient.birth_date' id='dtNasc' name='dtNasc' matInput [matDatepicker]="picker" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker> 
                </mat-form-field>

                <h3 class="light-dark">Cirurgião</h3>
                <label for='txtNome'>Nome</label>
                <input [(ngModel)]='surgery.surgeon.name' disabled type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
      
                <label for='txtCrm'>Crm</label>
                <input [(ngModel)]='surgery.surgeon.crm' disabled type='text' id='txtCrm' name='txtCrm' placeholder="2342423" #nameVerify="ngModel" required>

                <label for='txtUf'>Uf</label>
                <input [(ngModel)]='surgery.surgeon.uf' type='text' disabled  id='txtUf' name='txtUf' placeholder="UF" #nameVerify="ngModel" required>
                
                <h3 class="light-dark">Complexidade</h3>
                <label for='durCirurgia'>Duração da cirugia</label>
                
                <ngx-timepicker-field id='txtDur' name='txtDur' [(ngModel)]='duracao' [format]="24" [defaultTime]="'00:00'" ></ngx-timepicker-field> 
                
                <label>Essa cirurgia é de alta complexidade?</label>
                <div class="list-scroll-esq listForm2">
                  <mat-radio-group [(ngModel)]="complexidade" name="rdComplex"> 
                    <mat-radio-button class="example-margin" value="true">Sim</mat-radio-button>
                    <mat-radio-button class="example-margin" value="false">Não</mat-radio-button>
                  </mat-radio-group>
              </div>
              <label class="labelForm" for='dtNasc'>Data da Cirurgia</label>
                  <mat-form-field>
                    <input  [(ngModel)]='surgery.date_time' id='daySurgery' name='daySurgery' matInput [matDatepicker]="picker2" >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                  </mat-form-field>
              
               
                  <label class="labelForm" for='hourSurgery'>Horário da Cirurgia</label>
                  <ngx-timepicker-field id='hourSurgery' name='hourSurgery' [(ngModel)]='hourSurgery' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                  <br>
            

              </div>

              <div class="dir">
                  
                  <label>Comorbidades</label>
                  <div class="list-scroll-esq listForm2">

                    <mat-selection-list name="listComorbsSelected" [(ngModel)]="selectedComorbs" #listaComorbs>
                      <mat-list-option [value]="comorbidade.id" name="cboSelectedComorbs" *ngFor="let comorbidade of listComorb">
                        {{comorbidade.str}} 
                      </mat-list-option>
                    </mat-selection-list>

                  </div>
                  <label>Procedimento (TUSS)</label>  
                  <div class="list-scroll-dir">
                    <mat-selection-list name="listTussSelected" (click)='validaOnlyOne($event);' [(ngModel)]="selectedTuss">
                      <mat-list-option [value]="poced.id" name="cboSelectedTuss" selected *ngFor="let poced of surgery.secondary_tuss">
                        {{poced.str}}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>

                  <label>Paciente precisará de:</label>
                  <div class="list-scroll-dir">
                    
                    <mat-selection-list class="listWDays" name="listAcomSelected" [(ngModel)]="selectedNeeds" #listaNeeds>
                      <div class="optionsWDays"> 
                        <mat-list-option [value]="accomodations.id" (click)="optionClick(accomodations);" name="cboSelectedAcom" *ngFor="let accomodations of listNeeds">
                          {{accomodations.str}} 
                        </mat-list-option>
                      </div> 
                        <div class="inputDiv">
                            <div style="margin: auto;" *ngFor="let necessidades of listNeeds">
                              <input class="inputDays" disabled placeholder="Dias"  type="number" style="width: 55px;" id="inputNeeds-{{necessidades.id}}" />
                            </div>
                        </div>
                    </mat-selection-list>
                    
                  </div>
                  <label>CID: </label>
                    <div class="list-scroll-dir">
                      <mat-selection-list disabled name="cid">
                        <mat-list-option selected [value]="surgery.cid.str" name="cidoption">
                          {{surgery.cid.str}} 
                        </mat-list-option>
                      </mat-selection-list>
                    </div>
                    <label for='explanation'>Justificativa</label>
                  <textarea [(ngModel)]='surgery.explanation'  type='text' id='explanation' name='explanation' placeholder="Justificativa" #nameVerify="ngModel" required> </textarea>
              </div>
            </div>

            <div class="btn-line">
              <button (click)='btnSalvar();' class="dark-button">SALVAR</button>
            </div>
            
          </form>
          
        </div>
        
        
      </div>

    </div>
  
  </div>
</div>