<div class="content-background">
    <div class="content-conteudo page-profile">
      <div class="left-grid">
        <h3 class="dark">Tabela TUSS</h3>
        <table>
          <thead>
            <th>Código</th>
            <th>Procedimento</th>
          </thead>
          <tbody>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>    
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
            <tr>
              <td>31005489</td>
              <td>Colecistectomia com fístula biliodigestiva</td>
            </tr>
          </tbody>
        </table>
      </div>
    
    </div>
  </div>