<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div>
        <div class="cont-header">
            <h3 class="dark">Tabela TUSS</h3>
        </div>
        
        <div>
            <table mat-table [dataSource]="tussTable" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Name Column -->
                <ng-container matColumnDef="procedimento">
                  <th mat-header-cell *matHeaderCellDef> Código &nbsp; &nbsp; &nbsp; &nbsp; Procedimento </th>
                  <td mat-cell *matCellDef="let element" (click)="chamaAssociados(element.id)"> {{element.str}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
      </div>
      <div>
        <div class="cont-header">
            <h3 class="dark">Hospitais Associados</h3>
        </div>
        
        <div class="hospitalsBox">
            <p *ngFor="let hospital of hospitals">{{hospital.name}}</p>
        </div>
      </div>

      <div>
          <div class="cont-header">
              <h3 class="dark">Cirurgiões Associados</h3>
          </div>
          
          <div class="hospitalsBox">
              <p *ngFor="let surgeon of surgeons">{{surgeon.name}}</p>
          </div>
        </div>
        
    </div>
  
  </div>
</div>