<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div class="cont-header">
          <h3 class="dark">Hospitais</h3>
          <button (click)="router.navigate(['admin/main/newHospital']);" class="dark-button">NOVO HOSPITAL</button>
      </div>
      
      <div>
          <table mat-table [dataSource]="hospitals" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="tel">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone | mask: '(00) 000-00009'}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <img (click)="mostraId(element.id)" src="../../assets/detalhe.png" /> </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      </div>
    </div>
  
  </div>
</div>