<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div>
        <div class="cont-header">
          <a (click)="router.navigate(['admin/main/allHospitals']);" class="return">
            <img class="image-voltar" src="../../assets/voltar.png" />
            <h3 class="dark">Detalhe Hospital</h3>
          </a>
        </div>
        <div>
          
          <form #form="ngForm">
            <div class="esq">
              <label for='txtNome'>Nome</label>
              <input [(ngModel)]='hospitalDetails.name' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
              
              <label for='txtFone'>Telefone</label>
              <input [(ngModel)]='hospitalDetails.phone' type='text' mask='{{telMask}}' id='txtFone' name='txtFone' placeholder="(21) 91234-5678" #nameVerify="ngModel" required>

              <label for='txtEmail'>Email</label>
              <input [(ngModel)]='hospitalDetails.email' type='email' id='txtEmail' name='txtEmail' placeholder="albertopacheco@gmail.com" #nameVerify="ngModel" required>

              <label for='txtEnd'>Endereço</label>
              <input [(ngModel)]='hospitalDetails.address' type='text' id='txtEnd' name='txtEnd' placeholder="lorem ipsum" #nameVerify="ngModel" required>

              <label for='txtCep'>CEP</label>
              <input [(ngModel)]='hospitalDetails.cep' type='text' id='txtCep' mask='00000-000' name='txtCep' placeholder="2342423" #nameVerify="ngModel" required>

            </div>

            <div class="dir">
              <div class="menu-esq">
                  <div class="div-new-tuss" *ngIf="this.newTuss">
                    <p>Inclua o Tuss escolhido à um grupo de custo.</p>
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedGC" name="gcTuss">
                        <mat-option *ngFor="let gc of hospitalDetails.cost_groups" [value]="gc.id">
                          {{gc.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button class="dark-button" (click)="incluirTuss()">Incluir</button>
                  </div>
                <div>
                  <h3 class="light-dark">Procedimentos (TUSS)</h3> 
                  <i style="display: inline; margin-right: 1%; color: #3ec0c2" class="fas fa-search"></i><input type="text" style="width: 85%" placeholder="" aria-label="Number" matInput [formControl]="tussControl">
                </div>
                <div class="list-scroll-esq">
                  <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                    <mat-selection-list [(ngModel)]="selectedOptions" name="a">
                      <mat-list-option *ngFor="let procedimento of listProcedimentos" (click)='validaOnlyOne($event, procedimento.id, procedimento);' [value]="procedimento.id">
                        {{procedimento.str}}
                      </mat-list-option>
                    </mat-selection-list>
                  </cdk-virtual-scroll-viewport>
                </div>
              </div>
            </div>
            <!-- Pacote de custos -->

            <div class="pacote-line" > 
              <div>
                <h3 class="light-dark">Pacote de custo: {{hospitalDetails.name}}</h3>
              </div>
              <div class="box-line">
                  <div class="package-box new-package" (click)="newPackageForm();">
                      <i class="fas fa-plus"></i>
                      <p>Novo Pacote</p>
                    </div>
                <div class="package-box" (click)="changeCost(group);" *ngFor="let group of hospitalDetails.cost_groups">
                  <p>{{group.name}}</p>
                </div>
              </div>
            </div>

            <app-cost-group [costGroup]='atualCostGroup' [boolSalvar]="this.bolSalvar" (salvandoGc)="salvarGc($event);"></app-cost-group>
 

            <!-- Botão CONCLUIR -->

            <div class="btn-line">
              <button class="dark-button" (click)="alteraHospital()">CONCLUIR</button>
            </div>
          </form>
          
        </div> 


        
        
      </div>

    </div>
  
  </div>
</div>