.content-conteudo{
    padding: 50px 100px;
    width: 70%;
}
.conteudo{
    width: 100%;
}

.image-voltar{
    height: 28px;
    width: auto;
}
.cont-header a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.cont-header h3{
    margin: 0;
    padding-left: 20px; 
}

form input{
    background: transparent !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 5px;
    color: #ccc;
    width: 80%;
    margin-top: 5px;
}
form label{
    color: #ccc;
    font-weight: 500;
    margin-top: 20px;
}
label{
    align-self: flex-start;
}
.esq, .dir{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    position: relative;
}


::ng-deep .list-scroll-esq .mat-list-base .mat-list-item .mat-list-item-content-reverse, .list-scroll-esq .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    display: flex !important;
    padding: 0px 5px !important;
    flex-direction: row !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    color: #b6b5b5 !important;
}

::ng-deep .list-scroll-esq .mat-pseudo-checkbox::after {
    position: absolute !important;
    opacity: 0 !important;
    content: '' !important;
    border-bottom: unset !important;
    transition: opacity 90ms cubic-bezier(0,0,.2,.1) !important; 
}

::ng-deep .list-scroll-esq .mat-pseudo-checkbox-checked::after {
    top: unset !important;
    left: unset !important;
    width: 100% !important;
    height: 100% !important;
    border-left: unset !important;
    transform: unset !important;
    opacity: 1 !important;
    box-sizing: content-box !important;
    background: rgba(45, 175, 126, 1) !important;
}

::ng-deep .list-scroll-esq .mat-pseudo-checkbox {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid rgba(45, 175, 126, 1) !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    display: inline-block !important;
    vertical-align: middle !important;
    box-sizing: border-box !important;
    position: relative !important;
    flex-shrink: 0 !important;
    transition: border-color 90ms cubic-bezier(0,0,.2,.1),background-color 90ms cubic-bezier(0,0,.2,.1) !important;
}

::ng-deep .list-scroll-esq .mat-list-text{
    padding-left: 5px !important;
    padding-right: 16px !important;
}



::ng-deep .list-scroll-esq .mat-list-base .mat-list-item, .list-scroll-esq .mat-list-base .mat-list-option{
    width: 100%;
    float: left;
}
.list-scroll-esq{
    height: 300px;
    width: 100%;
}
.virtualScroll{
    height: 100%;
}
.list-scroll-dir{
    overflow-y:scroll;
    overflow-x: hidden;
    height:200px;
    width: 300px;
    border: 1px solid #b6b5b5;
    align-self: center;
    margin-right: 93px;
}
.light-dark{
    color: rgba(45, 175, 126, 1);
    padding-top: 20px;
}
.menu-esq{
    position: absolute;
    width: 100%;
}
.btn-line{
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 60px;
}
.pacote-line{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.package-box{
    border: 1px solid #b6b5b5;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #b6b5b5;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}
.box-line{
    display: flex;
}
.line{
    width: 100%;
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.tuss-esq{
    width: 45%;
}
::ng-deep .list-scroll-esq .mat-list-base .mat-list-item, .list-scroll-esq .mat-list-base .mat-list-option{
    width: 100%;
    float: left;
}
::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 35px !important;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding: 0 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    color: #b6b5b5 !important;
}
.form-dir{
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
    align-items: center;
    padding-bottom: 20px;
}
.form-dir label{
    padding-left: 9%;
}
.tuss-esq .list-scroll-esq{
    height: 800px;
}
.package-box{
    cursor: pointer;
}
.package-box:hover{
    border-color: #3ec0c2;
    color: #3ec0c2;
}

.div-new-tuss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 15%;
    height: 150px;
}
