<div class="content-background">
  <div class="content-conteudo">
    <mat-horizontal-stepper class="stepper" [linear]="isLinear" #stepper>
 
      <mat-step [completed]="false" > 
        <form class="form-stepper" #form="ngForm" id="formOne">
          <div class="content-first">
            <div class="menu-esq"> 
              <div>
                <h3 class="dark">Procedimentos (TUSS)</h3>
                <p class="">Selecione os procedimentos que serão realizados na cirurgia</p>
              </div>
              <div class="list-scroll-esq">
                <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                  <mat-selection-list name="listTuss" #listaTuss [(ngModel)]="selectedTuss">
                    <mat-list-option [value]="procedimento" name="cboProcedimentos" *ngFor="let procedimento of listProcedimentos">
                      {{procedimento.str}}
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
            </div>
            <div class="menu-dir">
              <div>
                <h3 class="dark">Procedimentos (TUSS) Selecionados</h3>
              </div>
              <div class="list-scroll-dir">
                <cdk-virtual-scroll-viewport class="virtualScroll"  itemSize="8">
                  <mat-selection-list name="listTussSelected" [(ngModel)]="selectedTuss" #listaTuss>
                    <mat-list-option [value]="procedimento" name="cboSelectedProcedimentos" *ngFor="let procedimento of selectedTuss">
                      {{procedimento.str}} 
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" mat-button matStepperNext>Próximo</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="false" >
        <form class="form-stepper" #form="ngForm" id="formTwo">
          <div class="content-first form2">
            <div class="menu-esq">
              <div>
                <h3>Informações do paciente</h3>
                <p>Insira as informações do paciente nos campos seguintes</p>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='txtNome'>Nome</label>
                <input [(ngModel)]='surgeryCreate.name' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                <br>
                <label class="labelForm" for='txtCpf'>CPF</label>
                <input [(ngModel)]='surgeryCreate.cpf' (blur)="validaCPF($event.target.value)"  type='text' id='txtCpf' name='txtCpf'
                  placeholder="999.999.999-99" mask='000.000.000-00' #nameVerify="ngModel" required>
                <br>
                <label class="labelForm" for='dtNasc'>Data de Nascimento</label>
                <!-- <input [(ngModel)]='surgeryCreate.birth_date'  type='date' id='dtNasc' name='dtNasc'
                  placeholder="" #nameVerify="ngModel" required> -->
                <mat-form-field>
                  <input [(ngModel)]='birth_date' [min]="minDate" [max]="atualDate" disabled id='dtNasc' name='dtNasc' matInput [matDatepicker]="picker" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker> 
                </mat-form-field>
               
              </div>
            </div> 
            <div class="menu-dir">
              <h3 class="dark">Comorbidades</h3><span>(Selecione quantos necessários)</span>
              
              <div class="list-scroll-esq listForm2">
                <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                  <mat-checkbox name="semComorb" (change)="listComorbSelected = [];" class="semComorb" [(ngModel)]="semComorb">
                      Sem comorbidade
                  </mat-checkbox>
                  <mat-selection-list [(ngModel)]="listComorbSelected" #comorb name="ab">
                    <mat-list-option [disabled]="semComorb" name="cboComorbidades" 
                    *ngFor="let comorbidades of listComorbidades" [value]="comorbidades">
                      {{comorbidades.str}}
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" mat-button matStepperNext>Próximo</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="false" >
        <form class="form-stepper" #form="ngForm" id="formThree">
          <div class="content-first form2">
            <div class="menu-esq">
              <div>
                <h3>Avaliação da cirurgia</h3>
                <p>Insira as informações solicitadas nos campos seguintes</p>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='txtDur'>Duração da cirurgia</label>
                <!-- <input [(ngModel)]='surgeryCreate.duration' type='text' id='txtDur' name='txtDur'
                  placeholder="2h e 30m" #nameVerify="ngModel" required> -->
                <ngx-timepicker-field id='txtDur' name='txtDur' [(ngModel)]='duracao' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                <br>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='dtNasc'>Data da Cirurgia</label>
                <!-- <input [(ngModel)]='surgeryCreate.birth_date'  type='date' id='dtNasc' name='dtNasc'
                  placeholder="" #nameVerify="ngModel" required> -->
                <mat-form-field>
                  <input disabled [(ngModel)]='daySurgery' [min]="atualDate" [max]="maxDate" id='daySurgery' name='daySurgery' matInput [matDatepicker]="picker2" >
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 disabled="false"></mat-datepicker> 
                </mat-form-field>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='hourSurgery'>Horário da Cirurgia</label>
                <!-- <input [(ngModel)]='surgeryCreate.duration' type='text' id='txtDur' name='txtDur'
                  placeholder="2h e 30m" #nameVerify="ngModel" required> -->
                <ngx-timepicker-field id='hourSurgery' name='hourSurgery' [(ngModel)]='hourSurgery' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                <br>
              </div>
              <div class="esq-baixo">
                <p>Essa cirurgia é de alta complexidade?</p>
                <div class="checkBoxGroup">
                  <mat-radio-group [(ngModel)]="surgeryCreate.complicated" name="rdComplex"> 
                    <mat-radio-button class="example-margin" value="true">Sim</mat-radio-button>
                    <mat-radio-button class="example-margin" value="false">Não</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="menu-dir">
              <h3 class="dark">Paciente precisará de:</h3><span>(Selecione quantos necessários)</span>
              <div class="list-scroll-esq listForm2">
                <cdk-virtual-scroll-viewport class="virtualScroll needsLine" itemSize="8">
                  <mat-selection-list [(ngModel)]="selectedNeedsDays" name="listNecess" class="sectionList">
                    <div class="optionDiv">
                      <mat-list-option [value]="necessidades.id" name="cboNecessidades" (click)="selectionNeedsClick(necessidades);" *cdkVirtualFor="let necessidades of listNecessidades">
                        {{necessidades.str}}
                        <!-- <input type="number" style="width: 40px;" id="teste-{{necessidades.id}}" />    -->
                      </mat-list-option>
                    </div>
                    <div class="inputDiv">
                      <div style="margin: auto;" *ngFor="let necessidades of listNecessidades">
                        <input class="inputDays" disabled placeholder="Dias"  type="number" style="width: 55px;" id="inputNeeds-{{necessidades.id}}" />
                      </div>
                    </div>
                      
                    
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" mat-button matStepperNext>Próximo</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- Ultimo Step -->
      <mat-step [completed]="false" >
        <form class="form-stepper" #form="ngForm" id="formFour">
          <div class=" form2">
            <div class="menu-esq"> 
              <div class="searchCid">
                  <h3>CID: </h3>
                  <mat-form-field class="searchCid-form">
                      <input type="text" matInput [formControl]="cidControl" [matAutocomplete]="auto"> 
                      <button mat-button class="dark-button-icon" *ngIf="auto.optionSelected" matSuffix (click)="cidControl.setValue('');">
                      x
                      </button>
                  </mat-form-field>
                      <mat-autocomplete style="background-color: #fff" id="autoRequest" class="autoRquestStepper" #auto="matAutocomplete">
                        <mat-option (click)="setCid(cid);" *ngFor="let cid of filteredCids | async" [value]="cid.str">
                          {{cid.str}}
                        </mat-option>
                      </mat-autocomplete>
              </div>
              <div class="esq-baixo cont-justif">
                <label for="explanation">Exame Clínico - Justificativa</label>
                <textarea [(ngModel)]='surgeryCreate.explanation' type='text' id='explanation' name='explanation' placeholder="Justificativa" #nameVerify="ngModel"></textarea>
              </div>
              <input id="imagesUpload" (input)="chama($event)" type="file" multiple/>
              <div class="divFiles"> 
                <div *ngFor="let arquivo of listFilesFinal | async" class="divFile"> 
                  <img class="singleImagePreview" src="{{arquivo}}"> 
                  <button mat-button class="dark-button-icon" matSuffix (click)="deleteImage(arquivo);">x</button>
                </div>
              </div>  
            </div>
            <div style="float: right" class="btn-next">
              <button class="dark-button" (click)="finalizar();" mat-button matStepperNext>Finalizar</button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>