<div class="content-background">
  <div class="content-conteudo">
    <mat-horizontal-stepper class="stepper" [linear]="isLinear" #stepper>
 
      <mat-step [completed]="false" > 
        <form class="form-stepper" #form="ngForm" id="formOne">
          <div class="content-first">
            <div class="menu-esq"> 
              <div>
                <h3 class="dark">Procedimentos (TUSS)</h3>
                <p class="">Selecione os procedimentos que serão realizados na cirurgia</p>
              </div>
              <div class="list-scroll-esq">
                <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                  <mat-selection-list name="listTuss" #listaTuss [(ngModel)]="selectedTuss">
                    <mat-list-option [value]="procedimento" name="cboProcedimentos" *ngFor="let procedimento of listProcedimentos">
                      {{procedimento.str}}
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
            </div>
            <div class="menu-dir">
              <div>
                <h3 class="dark">Procedimentos (TUSS) Selecionados</h3>
              </div>
              <div class="list-scroll-dir">
                <cdk-virtual-scroll-viewport class="virtualScroll"  itemSize="8">
                  <mat-selection-list name="listTussSelected" [(ngModel)]="selectedTuss" #listaTuss>
                    <mat-list-option [value]="procedimento" name="cboSelectedProcedimentos" *ngFor="let procedimento of selectedTuss">
                      {{procedimento.str}} 
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" mat-button matStepperNext>Próximo</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="false" >
        <form class="form-stepper" #form="ngForm" id="formTwo">
          <div class="content-first form2">
            <div class="menu-esq">
              <div>
                <h3>Informações do paciente</h3>
                <p>Insira as informações do paciente nos campos seguintes</p>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='txtNome'>Nome</label>
                <input [(ngModel)]='surgeryCreate.name' type='text' id='txtNome' name='txtNome' placeholder="Alberto Pacheco" #nameVerify="ngModel" required>
                <br>
                <label class="labelForm" for='txtCpf'>CPF</label>
                <input [(ngModel)]='surgeryCreate.cpf' type='number' id='txtCpf' name='txtCpf'
                  placeholder="999.999.999-99" #nameVerify="ngModel" required>
                <br>
                <label class="labelForm" for='dtNasc'>Data de Nascimento</label>
                <input [(ngModel)]='surgeryCreate.birth_date'  type='date' id='dtNasc' name='dtNasc'
                  placeholder="" #nameVerify="ngModel" required>
                
                    <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->
               
              </div>
            </div> 
            <div class="menu-dir">
              <h3 class="dark">Comorbidades</h3><span>(Selecione quantos necessários)</span>
              <div class="list-scroll-esq listForm2">
                <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                  <mat-selection-list #comorb>
                    <mat-list-option name="cboComorbidades" (click)="selectionComorbClick(comorbidades);" *ngFor="let comorbidades of listComorbidades">
                      {{comorbidades.str}}
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" mat-button matStepperNext>Próximo</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="false" >
        <form class="form-stepper" #form="ngForm" id="formThree">
          <div class="content-first form2">
            <div class="menu-esq">
              <div>
                <h3>Avaliação da cirurgia</h3>
                <p>Insira as informações solicitadas nos campos seguintes</p>
              </div>
              <div class="inputsForm2">
                <label class="labelForm" for='txtDur'>Duração da cirurgia</label>
                <!-- <input [(ngModel)]='surgeryCreate.duration' type='text' id='txtDur' name='txtDur'
                  placeholder="2h e 30m" #nameVerify="ngModel" required> -->
                <ngx-timepicker-field id='txtDur' name='txtDur' [(ngModel)]='duracao' [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field> 
                <br>
              </div>
              <div class="esq-baixo">
                <p>Essa cirurgia é de alta complexidade?</p>
                <div class="checkBoxGroup">
                  <mat-radio-group [(ngModel)]="surgeryCreate.complicated" name="rdComplex"> 
                    <mat-radio-button class="example-margin" value="true">Sim</mat-radio-button>
                    <mat-radio-button class="example-margin" value="false">Não</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="menu-dir">
              <h3 class="dark">Paciente precisará de:</h3><span>(Selecione quantos necessários)</span>
              <div class="list-scroll-esq listForm2">
                <cdk-virtual-scroll-viewport class="virtualScroll" itemSize="8">
                  <mat-selection-list>
                    <mat-list-option name="cboNecessidades" (click)="selectionNeedsClick(necessidades);" *cdkVirtualFor="let necessidades of listNecessidades">
                      {{necessidades.str}}
                    </mat-list-option>
                  </mat-selection-list>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="btn-next">
                <button class="dark-button" (click)="finalizar();" mat-button matStepperNext>Finalizar</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>