/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f3f2f2;
    font-family: Roboto;
}
app-home{
    height: 100%;
    width: 100%;
}
.content-conteudo{
    background: white;
    box-shadow: -1px 3px 7px 0px lightgrey;
    width: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.content-background{
    display: flex;
    justify-content: center;
}
.dark{
    font-size: 28px;
    color: rgba(45, 175, 126, 1);
}
.light-dark{
    font-size: 20px;
    color: rgba(63, 192, 194, 1);
}
.clean-button{
    padding: 10px 20px;
    color: #fff;
    border: 0;
    margin-right: 10px;
    background: rgba(63, 192, 194, 1);
    cursor: pointer;
    border-radius: 3px;
}
.dark-button{
    padding: 10px 20px;
    color: #fff;
    border: 0;
    background: rgba(45, 175, 126, 1);
    cursor: pointer;
    border-radius: 3px;
}
app-form-cadastro .mat-tab-header{
    display: none;
}

app-form-cadastro .mat-tab-body-content{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

app-new-hospital .mat-tab-header{
    display: none;
}
app-new-hospital .mat-tab-body-content{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
app-new-hospital mat-tab-group{
    width: 100%;
}
.nav-bar-content .active-menu button{
    border: 1px solid rgb(18, 145, 105)
}

.nav-bar-content button {
    border: none;
}
button:focus{
    outline: none;
}
form input{
    color: #615959 !important;
} 
form label{
    color: #b6b5b5;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    color: #615959 !important;
}
app-solicitacoes-details .mat-tab-group{
    width: 80%;
}
mat-slider{
    width: 100%;
}
.mat-slider-track-background{
    background: #b6b5b5;
}
.mat-slider-track-fill{
    background: rgba(63, 192, 194, 1);
}
.mat-slider-thumb{
    background: #ccc;
}
.mat-slider-thumb-label-text{
    opacity: 1;
}
.mat-slide-toggle-thumb{
    background: rgba(63, 192, 194, 1);
}
.mat-slide-toggle-bar{
    background: #ccc;
}
.mat-slide-toggle-input{
    display: none;
}

app-request-stepper .mat-pseudo-checkbox::after{
    content: none;
}
mat-list-option{
    margin: 5px 0;
}
.mat-radio-checked .mat-radio-label .mat-radio-outer-circle{
    background: #3fc0c2 !important;
}
.mat-radio-input{
    display: none !important;
}
.mat-radio-outer-circle{
    bottom: 0;
    top: 3px !important;
    left: 50% !important;
    border-radius: 2px !important;
}