<div class="background-home">
  <div class="container">
    <div class="home-navbar">
        <a href="#">Sobre nós</a> 
        <a href="#">Contato</a>
        <a href="#"><button>Cadastro</button></a>
        <a><button (click)="router.navigate(['/content/login']);">Entrar</button></a>
    </div> 
    <div class="first-section">
      <h3>Marque cirurgias com mais facilidade, agilidade e eficiência</h3>
      <button class="cad-button">CADASTRE-SE</button>
      <button class="ent-button">ENTRAR</button>
    </div>
    <div class="second-section">
      <img>
      <div class="text-right">
        <h3>Fácil, rápido e simples </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui mauris, imperdiet in efficitur nec, ultricies rutrum tellus. Sed ullamcorper arcu a cursus ullamcorper. Integer rhoncus finibus libero.</p>
      </div>
    </div>
  </div>
</div>