<div class="content-background">
  <div class="content-request">
      <div class="cont-esq">
          <div class="topo"> 
              <h3 class="dark">Cirurgia Solicitada</h3>
              <p>O Smart Surgery realizará a análise do seu pedido e logo entrará em contato</p>
          </div>
          <div>
            <a><button (click)="home();">Ver Cirurgias</button></a>
          </div>
      </div>
      <div class="cont-dir">
        <div class="conteudo"> 
            
        </div>  
      </div>
    </div>
</div>
