<div class="content-background">
  <div class="content-conteudo page-profile">
    <div class="conteudo">
      <div class="cont-header">
          <h3 class="dark">Cirurgias Realizadas</h3>
      </div>
      <div style="display: flex; flex-wrap: wrap;">

        <div class="box" *ngFor="let surgery of allSurgeries">
          <div>
            <h4 class="light-dark">{{surgery.main_tuss}}</h4>
            <p class="name-dr">Dr. {{surgery.surgeon}}</p>
            <p class="paciente-name">Paciente: {{surgery.patient}}</p>
          </div>
          <div class="right-block" *ngIf="surgery.complicated">
            <p class="complexidade" class="red">Alta Complexidade</p>
            <img (click)="clickDetails(surgery.id);" class="image-details" src="../../assets/detalhe.png" />
          </div>
          <div class="right-block" *ngIf="!surgery.complicated">
            <p class="complexidade" class="green">Baixa Complexidade</p>
            <img (click)="clickDetails(surgery.id);" class="image-details" src="../../assets/detalhe.png" />
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div>